.demo-inline-calendar-card {
    width: 300px;
    height: 320px;

  }

  table,
tr,
th,
td {
  border: 1px solid black;
}

td {
  min-width: 50px;
  min-height: 50px;
  height: 50px;
}

.container {
  margin: 10px;
}

.tasks {
  background-color: yellow;
  height: 52px;
}

.grab {
  cursor: -webkit-grab;
  cursor: grab;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }



  .input-new-event{
    max-width: 150px;  height: 70px;


  }